.chart-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4%;
    height: 10rem;
}

.chart-bar__inner {
    display: flex;
    width: 50%;
    background-color: rgb(153, 135, 196);
    border-radius: 12px;
    height: 8rem;
    border: 1px solid rgb(56, 56, 117);
    overflow: hidden;
}

.chart-bar__fill {
    align-self: flex-end;
    width: 100%;
    background-color: rgb(73, 1, 206);
    transition: all 0.3s ease-out;
}

.char-bar__label {
    padding-top: 0.3rem;
    font-size: 0.7rem;
    font-weight: bold;
}