.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(203, 183, 209);
    margin: 2rem auto;
    padding: 1rem 1.7rem;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.25);
}