.expense-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 0.5rem;
    background-color: #4b4b4b;
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 1rem 0rem;
}

.expense-item__description {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    color: white;
    font-size: bold;
}

.expense-item__price {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
    background-color: purple;
    border-radius: 12px;
    border: 1.5px solid white;
}