.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    min-height: 10rem;
}

.new-expense__control {
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.new-expense__control input{
    border-radius: 7px;
    border-style: none;
    outline: none;
    padding: 0.5rem;
    margin-top: 0.3rem;
    font-weight: bold;
}

button {
    padding: 0.8rem 1.4rem;
    border-radius: 7px;
    border-style: none;
    text-align: center;
    color: white;
    background-color: rgb(57, 5, 92);
    cursor: pointer;
}

button:hover {
    background-color: rgb(70, 7, 112);
}