.new-expense {
    display: flax;
    flex-direction: row;
    background-color: rgb(161, 112, 240);
    width: 50rem;
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem 1.7rem;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgb(0, 0, 0, 0.25);
}
